<div class="education">
    <h2>Education</h2>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <tr>
                <th scope="row">2019.09.01 - present</th>
                <td>
                    <p>Ph.D. @ POSTECH, South Korea, Dept. of Computer Science and Engineering</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2015.03.01 - 2019.08.31</th>
                <td>
                    <p>B.S. @ POSTECH, South Korea, Dept. of Computer Science and Engineering</p>
                </td>
            </tr>
        </table>
    </div>
</div>
